<div class="add_option medium-insert-buttons" contenteditable="false" style="display: none">
    <button class="medium-insert-buttons-show show_option" type="button"></button>
    <small class="add_option_tools" style="display: none;">
        <a class="medium-insert-action" data-addon="images" data-action="add">Insert Image</a>
        <a class="gallery-insert-action">Insert Gallery</a>
    </small>
</div>
