<div class="add_option medium-insert-buttons whitelabel-gear" contenteditable="false" style="display: none">
  <small class="add_option_tools" style="display: none;">
    <span class="insert-option" style="display: block;">
      <label class="label">INSERT</label>
      <a class="insert-action-text">
        <i></i> Text</a>
      <a class="insert-action-image">
        <i></i> Images</a>
      <a class="insert-action-product">
        <i></i> Products</a>
    </span>
    <span class="insert-text" style="display: none;">
      <a href="#" class="label">TEXT</a>
      <a class="insert-action-text-body">
        <i></i> Body</a>
      <a class="insert-action-text-quote">
        <i></i> Quote</a>
    </span>
    <span class="insert-image" style="display: none;">
      <a href="#" class="label">IMAGE</a>
      <a class="insert-action-image-single medium-insert-action" data-addon="images" data-action="add" data-image-insert-type="single">
        <i></i> Single</a>
      <a class="insert-action-image-slideshow medium-insert-action gallery-insert-action">
        <i></i> Slideshow</a>
      <a class="insert-action-image-grid medium-insert-action" data-addon="images" data-action="add" data-meta='{ "type": "grid" }'>
        <i></i> Grid</a>
    </span>
    <span class="insert-product" style="display: none;">
      <a href="#" class="label">PRODUCT</a>
      <a class="insert-action-product-card">
        <i></i> Cards</a>
      <a class="insert-action-product-slideshow">
        <i></i> Slideshow</a>
    </span>
    <span class="editable_tools" style="display:none;">
      <label class="label">IMAGE STYLE</label>
      <a class="edit_full">
        <i></i>
      </a>
      <a class="edit_normal">
        <i></i>
      </a>
      <a class="edit_with_quote">
        <i></i>
      </a>
    </span>
  </small>
  <button class="medium-insert-buttons-show show_option" type="button"></button>
</div>
