<div class="grid">
    <img src="/_ui/images/common/blank.gif" data-src="{{img}}" alt="" class="" style="background-image:url('{{img}}');">
    <a href="#" class="remove">Remove</a>
    <a href="#" class="btn-caption" contenteditable="false">Add Caption</a>
    <figcaption contenteditable="true" class="text-placeholder" data-placeholder="Type an image caption"></figcaption>
    {{#if progress }}
        <div class="medium-insert-images-progress"></div>
    {{/if}}
</div>
