<small contenteditable="false" class="add_option_tools _grid" style="display:none;">
    <a data-action="add">Add images</a>
    <a data-action="organize">Organize images</a>
    <a data-action="delete">Delete Grid</a>
</small>
