<div class="grid">
    <img src="/_ui/images/common/blank.gif" alt="" class="" style="background-image:url('{{img}}');">
    <a href="#" class="remove">Remove</a>
    <figcaption contenteditable="true" class="medium-insert-caption-placeholder text-placeholder" data-placeholder="Type caption for image (optional)"></figcaption>
    {{#if progress }}
        <div class="medium-insert-images-progress"></div>
    {{/if}}
</div>
