<ul class="itemList product" contenteditable="false">
  <% items.forEach(function(item) { %>
  <li class="itemListElement" data-id="<%= item.id %>">
    <span class="figure">
      <img src="/_ui/images/common/blank.gif" style="background-image:url(<%= item.image %>)">
    </span>
    <span class="figcaption">
      <span class="title"><%= item.title %></span>
      <b class="price"><%= item.price %></b>
    </span>
    <a class="remove">Remove</a>
  </li>
  <% }); %>
  <small class="add_option_tools" style="display:none;">
    <a class="add-product">Add Products</a>
    <a class="delete-slideshow">Delete slideshow</a>
  </small>
</ul>
