<li class="itemListElement" data-id="<%= id %>">
  <span class="figure">
    <img src="/_ui/images/common/blank.gif" style="background-image:url(<%= image %>)">
  </span>
  <span class="figcaption">
    <span class="title"><%= title %></span>
    <b class="price"><%= price %></b>
  </span>
  <a class="remove">Remove</a>
</li>
