<ul class="itemList product" contenteditable="false">
  <li class="itemListElement">
    <span class="figure"><img src="/_ui/images/common/blank.gif"></span>
    <span class="figcaption">
      <span class="title"></span>
      <b class="price"></b>
    </span>
    <a class="remove">Remove</a>
  </li>
</ul>
