<div class="itemSlide product" contenteditable="false">
  <div class="itemSlideWrap">
    <ul class="stream after">
      <li><div class="figure-item add"><input type="file"></div></li>
      <% items.forEach(function(item) { %>
      <li class="itemSlideElement" data-id="<%= item.id %>">
        <div class="figure-item">
          <figure <% if (item.image_fit_to_bounds) { %>class="fit"<% } %>>
            <a href="<% if (item.html_url) { %><%= item.html_url %><% } else { %>/sales/<%= item.id %>?utm=article<% } %>?utm=article"><span
                class="back"></span><img class="figure" src="/_ui/images/common/blank.gif" style="background-image: url(<%= item.image %>);"></a>
          </figure>
          <figcaption>
            <span class="show_cart">
              <button class="btn-cart nopopup soldout">
                <% if (item.retail_price != null) { %><b class="price sales">$<%= item.price %> <small class="before">$<%= item.retail_price %></small></b><% } else { %><b class="price">$<%= item.price %></b><% } %>
              </button>
            </span>
            <a href="<%= item.html_url %>?utm=article" class="title"><%= item.title %></a>
          </figcaption>
          <a class="delete"></a>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
  <a href="#" class="prev">Prev</a>
  <a href="#" class="next">Next</a>
  <small class="add_option_tools" style="display:none;">
    <a class="add-product">Add Products</a>
    <a class="delete-slideshow">Delete Slideshow</a>
  </small>
</div>
