<ul class="itemList product" contenteditable="false">
  <% items.forEach(function(item, idx) { %>
  <li class="itemListElement" data-id="<%= item.id %>" data-idx="<%= idx %>">
    <span class="figure <% if (item.image_fit_to_bounds) { %>fit<% } %>">
      <img src="/_ui/images/common/blank.gif" style="background-image:url(<%= item.image %>)">
    </span>
    <span class="figcaption">
      <span class="title"><%= item.title %></span>
      <% if (item.retail_price != null) { %>
      <b class="price sales">$<%= item.price %> <small class="before">$<%= item.retail_price %></small></b>
      <% } else { %>
      <b class="price">$<%= item.price %></b>
      <% } %>
    </span>
    <a class="remove">Remove</a>
  </li>
  <% }); %>
  <small class="add_option_tools" style="display:none;">
    <a class="add-product">Organize Products</a>
    <a class="delete-slideshow">Delete Grid</a>
  </small>
</ul>
